{% set number_net = range(wireguard__network | ipsubnet(30) | int ) %}
{% set sub_number = [] %}
{% set _ = sub_number.insert(0,0) %}
{% for item_net in wireguard__net_old %}
{%   if (not item_net.subnet|d()) and (item_net.server|d()) and (item_net.client|d()) %}
  - { server: "{{ item_net.server }}",
      client: "{{ item_net.client }}",
{%     for item_sub in number_net %}
{%       if loop.index0 == sub_number[0] %}
{%         set sub = wireguard__network | ipsubnet(30, loop.index0) %}
{%         for item_check_net in wireguard__net_old %}
{%           if item_check_net.subnet|d() and ( item_check_net.subnet == sub ) %}
{%             set _ = sub_number.insert(0,sub_number[0]+1) %}
{%           endif %}
{%         endfor %}
{%         if loop.index0 == sub_number[0] %}
      subnet: "{{ sub }}",
      listenport: "{{ loop.index0 + wireguard__port }}",
{%         endif %}
{%       endif %}
{%     endfor %}
{%   set _ = sub_number.insert(0,sub_number[0]+1) %}
    }
{%   endif %}
{%   if (item_net.subnet|d()) and (item_net.server|d()) and (item_net.client|d()) %}
  - { server: "{{ item_net.server }}",
      client: "{{ item_net.client }}",
      subnet: "{{ item_net.subnet }}",
{%     if item_net.listenport|d() %}
      listenport: "{{ item_net.listenport }}",
{%   endif %}
    }
{%   endif %}
{% endfor %}
